.env
venv/
__pycache__/
*.pyc


pgdata/
redisdata/


raw_amass_*.txt
subs_merged_*.txt
subs_naabu_*.txt
temp_subs_*.txt
targets_proj_*.txt
crawl_urls_*.txt
gau_*.txt
sql_params_*.txt
archive_*.txt

nuclei_res_*.json
naabu_*.json
httpx_*.json
xss_*.json
ffuf_*.json
truffle_*.json
sqlmap_res_*.csv
cmseek_*.json

*.log
celerybeat-schedule

amass_linux_amd64/
/opt/
/Result/


.vscode/
.idea/