version: '3.8'

services:
  web:
    build: .
    command: flask run --host=0.0.0.0 --debug
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A app.celery worker --loglevel=info --concurrency=1
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    cap_add:
      - NET_ADMIN
      - NET_RAW

  beat:
    build: .
    command: celery -A app.celery beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6-alpine

volumes:
  postgres_data: